[project]
	description = hahaha
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/HyunchanPark-Class
[access "refs/for/refs/*"]
	read = group user/HyunchanPark-Class
	push = group user/HyunchanPark-Class
	label-Code-Review = -2..+2 group user/HyunchanPark-Class
	label-Verified = -1..+1 group user/HyunchanPark-Class
	rebase = group user/HyunchanPark-Class
	removeReviewer = group user/HyunchanPark-Class
	submit = group user/HyunchanPark-Class
[access "refs/heads/*"]
	read = group user/HyunchanPark-Class
	create = group user/HyunchanPark-Class
	push = +force group user/HyunchanPark-Class
	pushMerge = group user/HyunchanPark-Class
[access "refs/tags/*"]
	push = group user/HyunchanPark-Class
	push = +force group user/HyunchanPark-Class
